<div class="content-wrapper mat-typography">
  <div class="container content">
    <div class="col-md-12 col-sm-12 col-lg-10">
      <h1 class="mat-display-1">Frequently asked questions:</h1>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">What is Vapor, React Native and Angular?</h2>
      <p class="mat-body-1">
        These projects are libraries built by Qutheory LLC, Facebook and Google. We have no affiliation with these companies, we just love using their products.
        Vapor is an awesome library that allows us to create our servers with the Swift programming language. It is among the fastest and in our opinion the most
        beautiful way of building servers. React Native is a tool that allows us to create mobile Android and iOS applications with Javascript. Angular is a Typescript library that
        helps us create web applications.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">What kind of applications do you develop, exactly?</h2>
      <p class="mat-body-1">
        We offer a wide set of options. Our main product are enterprise web applications, with a focus on B2B web services. We also offer complimenting Android
        and iOS Apps, either built native or as mobile web apps. We develop chatbots, either for use inside of websites or in messengers. We have extensive knowledge
        regarding high-performance server development and data analysis. We also create smart contracts with the Solidity programming language.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">What is a chatbot?</h2>
      <p class="mat-body-1">
        We work with two different kinds of chatbots. On the one hand, we develop messenger chatbots for Telegram and Facebook messenger. These are little Applications
        inside an existing messenger. The difference to regular mobile apps is that users don't have to download anything to use the app, as they communicate directly
        with a server, inside the user interface of the messenger. On the other hand we sometimes integrate chatbots into our websites. These are the little windows
        popping up in some websites that say something like: "Hello, can I help you?". These are often very useful marketing tools to increase the user conversion rate.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">What is a smart contract?</h2>
      <p class="mat-body-1">
        Smart contracts are programs that are used to verify or enforce a defined contract wihtout the need for any third parties. It is similar to
        an automatically enforced contract between people which, once subscribed, can't be ever broken. This is possible as people all over the world
        are witnesses who are paid a small fee, if and only if they enforce the contract contents to be performed properly. Because of the basics of
        game theory we know that the case where more than 50% of all people involved disagree to receive their money is statistically impossible.
        Consider reading this very interesting paper regarding game theory in economics:
        <a href="https://econpapers.repec.org/bookchap/elgeebook/587.htm">https://econpapers.repec.org/bookchap/elgeebook/587.htm</a>
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">Do you trade cryptocurrencies?</h2>
      <p class="mat-body-1">
        No, we currently don't trade cryptocurrency in any way.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">How are you making money if most of your libraries are for free?</h2>
      <p class="mat-body-1">
        We create web/mobile/chat/blockchain applications for businesses and they pay us for that. In the course of developing software, we created some programs that
        help us develop our applications faster and easier, but are not monetizable. We see these libraries as a way to show our programming skills. We also offer a monero
        miner that can run inside a browser.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">What is a miner?</h2>
      <p class="mat-body-1">
        To process (verify) transactions, cryptocurrencies need a dezentralized network of so called "mining nodes". Smart contracts, which we discussed earlier, are a good example of what
        a "transaction" can be. The validity and integrity of a smart contract execution are checked thouroughly by miners to make a dezentralized network possible. These miners check the
        validity of the transactions by performing complicated cryptographic calculations that need a lot of computational power. For doing so, they receive a reward. As it takes very long
        for an individual to get to the point of a single reward, individual miners split the work between them, using a platform called "mining pool". These pools provide the infrastructure
        on which the users can mine and in return take a small fee of the reward. We are offering a pool for monero mining and provide a miner that runs inside the browser for website owners.
        For use of our pool ( which is set by default), we take a small fee to keep our servers up and running. The miner is completely free to use.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-10 question">
      <h2 class="mat-title">What are blockchain applications?</h2>
      <p class="mat-body-1">
        For many businesses, it makes sense to use a decentralized approach to a software programm. An option is to deploy decentralized apps (Dapps) that use
        Blockchain technology. Sometimes, it makes no sense. We offer our knowledge regarding this topic to help you finding the best way to take advantage of this
        new and promising (and oftentimes confusing) technology.
      </p>
    </div>
  </div>
</div>
