<div class="footer">
  <div class="container">
    <div class="footer-brand">
      Boiler Talk
    </div>
    <a href="#" class="footer-text">Privacy Policy</a>
    <div class="footer-text"> - </div>
    <a href="#" class="footer-text">Terms</a>
    <div class="footer-text"> - </div>
    <p class="footer-text">
      &copy; Boilertalk 2017
    </p>
    <p class="social-list">
      <a href="https://www.facebook.com/Boilertalk/"><i class="fab fa-facebook fa-fw footer-text"></i></a>
      <a href="#"><i class="fab fa-instagram fa-fw footer-text"></i></a>
      <a href="#"><i class="fab fa-twitter fa-fw footer-text"></i></a>
      <a href="#"><i class="fab fa-google-plus fa-fw footer-text"></i></a>
      <a href="#"><i class="fab fa-github fa-fw footer-text"></i></a>
    </p>
  </div>
</div>
