<div class="content-wrapper">
  <div class="landing-page-content content-has-background">
    <div class="content-background">
      <img src="assets/images/white.jpg" alt="Home" />
    </div>
    <div class="container home-content">
      <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-10 animated fadeIn">
          <h1>Boilertalk Ltd</h1>
          <br />
          <h2>Boilertalk Ltd. is a software company</h2>
          <br />
          <h3>We are developers. We believe in open source, and we love blockchain technology. We build web applications for businesses that understand the value of state of the art technology. We also develop <a href="https://solidity.readthedocs.io/en/v0.4.22/">solidity</a> smart contracts for the ethereum blockchain.</h3>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div class="container landing-page-content">
    <div class="home-content  animated fadeIn">
      <h1 class="text-center">Multi-plattform Applications</h1>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="features">
            <div class="icon background-theme"><i class="fas fa-paint-brush"></i></div>
            <div class="info">
              <h4 class="title">Web Applications</h4>
              <p class="desc">We build our websites and web applications on top of <a href="https://angular.io/">Angular</a>. We build native Android and iOS apps using Facebooks <a href="https://facebook.github.io/react-native/">React Native</a> Javascript framework.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="features">
            <div class="icon background-theme"><i class="fas fa-server"></i></div>
            <div class="info">
              <h4 class="title">Vapor Servers</h4>
              <p class="desc"> Our backends are built with <a href="https://vapor.codes/">Vapor</a>. This provides the fastest and cheapest server architecture for large-scale enterprise applications.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="features">
            <div class="icon background-theme"><i class="far fa-comments"></i></div>
            <div class="info">
              <h4 class="title">Chatbots</h4>
              <p class="desc">We also develop messenger chatbots for Telegram and Facebook messenger, hence our name boiler-"talk". <a href="https://github.com/Boilertalk/VaporFacebookBot">Check out our vapor bot development library.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-content content-has-background">
    <div class="content-background">
      <img class="dark-image" src="assets/images/title2.jpeg" />
    </div>
    <div class="container">
      <h1 class="text-center white"><br />We love to code with</h1>
      <div class="row action-box  animated fadeIn">
        <div class="col-md-4 col-sm-12">
          <h3><mat-icon svgIcon="swift"></mat-icon>  Swift</h3>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>
            <mat-icon svgIcon="typescript"></mat-icon>   TypeScript</h3>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>
            <mat-icon svgIcon="c_lang"></mat-icon>   C</h3>
        </div>
      </div>
      <h4 class="white text-center col-md-12">
        We are proficient in these programming languages and can provide code revision.
      </h4>
    </div>
  </div>
  <div class="container landing-page-content">
    <div class="home-content  animated fadeIn">
      <div class="col-md-8 col-sm-12">
        <h1>Swift developer tools</h1>
        <h4><br />In 2014, Apple released the swift programming language, and we immediately fell in love with it. We developed some swift programming tools that we use to create our projects. Most of them are open source and completely free to use.</h4>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon primary-icon-theme"><i class="fas fa-language"></i></div>
            <div class="info">
              <h4 class="title">Swift servers</h4>
              <p class="desc">Run servers with swift, using our <a href="https://github.com/Boilertalk/swift-language-server">language server implementation</a> for Swift. Documentation is coming soon.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon primary-icon-theme"><i class="fas fa-cogs"></i></div>
            <div class="info">
              <h4 class="title">Vapor tools</h4>
              <p class="desc">Vapor is a server library for swift. We built some tools for messenger chatbot development, check out our libraries for <a href="https://github.com/Boilertalk/VaporTelegramBot">Telegram</a> and <a href="https://github.com/Boilertalk/VaporFacebookBot">Facebook messenger</a>.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon primary-icon-theme">
              <mat-icon svgIcon="swift" class="material-icon"></mat-icon>
            </div>
            <div class="info">
              <h4 class="title">Future projects</h4>
              <p class="desc">We are currently working on many more Swift libraries and implementations, for example our swift <a href="https://github.com/Boilertalk/Web3.swift">Web3</a> library. Stay tuned!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-content content-has-background">
    <div class="content-background">
      <img src="assets/images/title3.jpg" />
    </div>
    <div class="container">
      <div class="row action-box  animated fadeIn">
        <div class="col-md-8 col-sm-12">
          <div class="icon-large">
            <i class="fab fa-github"></i>
          </div>
          <h1 class="white">Check out our <a mat-button color="primary" href=""><h1>Github</h1></a> page!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container landing-page-content">
    <div class="home-content  animated fadeIn">
      <div class="col-md-8 col-sm-12">
        <h1>Blockchain software</h1>
        <h4><br />We see huge potential in the commercial use of blockchain technology. We are developing a pure swift Ethereum Web3 library.
      We also released a unique blocky identicons generator for Swift. Soon, we will release our web mining service.</h4>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon background-theme"><i class="fab fa-ethereum"></i></div>
            <div class="info">
              <h4 class="title">Web3</h4>
              <p class="desc">Our pure swift Web3 library is currently in version 0.1.0. We are working hard to add additional features in the near future. If you want to help us, check out the <a>Github page</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon background-theme"><i class="far fa-smile"></i></div>
            <div class="info">
              <h4 class="title">Blockies</h4>
              <p class="desc">We created a <a href="https://github.com/Boilertalk/BlockiesSwift">Swift implementation</a> of the Ethereum fork of Blockies, intented to be used in Apps for Apple products</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon background-theme"><i class="fab fa-ethereum"></i></div>
            <div class="info">
              <h4 class="title">Mining pool</h4>
              <p class="desc">We are soon releasing our web mining service. We will only charge a regular pool fee of 3% of the profits you generate. We developed our mining pool all by ourselves.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-content content-has-background">
    <div class="content-background">
      <img src="assets/images/white2.jpg" alt="Home" />
    </div>
    <div class="container home-content">
      <div class="row">
        <div class="col-md-8 col-sm-12 animated fadeIn">
          <h1>Contact</h1>
          <br />
          <h3>If you are interested in working with us, <a href="mailto:contact@boilertalk.com">leave us a mail.</a></h3>
          <br />
          <h4>
              contact@boilertalk.com<br/>
              3 Cavendish Road, Dublin 1, Ireland<br/>
              Boilertalk Limited.<br/>
            </h4>
        </div>
      </div>
    </div>
  </div>
</div>
