<div class="content-wrapper">
  <div class="landing-page-content content-has-background">
    <div class="content-background">
      <img src="assets/images/title.jpeg" alt="Home" />
    </div>
    <div class="container home-content">
      <div class="row">
        <div class="col-md-6">
          <br /><br /><br /><br /><br />
          <h1>We build the future of blockchain technology</h1>
          <br />
          <h3>Make your business fit for the blockchain era with our suite of cryptocurrency APIs.<br /></h3>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-content">
    <div class="container home-content">
      <h1>Get the best web mining experience with our monero web miner</h1>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon background-theme"><i class="fas fa-dollar-sign"></i></div>
            <div class="info">
              <h4 class="title">Lowest fees</h4>
              <p class="desc">We only take regular pool fees of 3% for our service.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon background-theme"><i class="fas fa-paint-brush"></i></div>
            <div class="info">
              <h4 class="title">Easy to customize</h4>
              <p class="desc">Our miner comes with prepackaged stealth and performance modes.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon background-theme"><i class="fas fa-cloud"></i></div>
            <div class="info">
              <h4 class="title">Unblockable style</h4>
              <p class="desc">Unlike other web-mining services you self-host the miner integration.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-content content-has-background">
    <div class="content-background">
      <img class="dark-image" src="assets/images/title2.jpeg" alt="Calculate" />
    </div>
    <div class="container">
      <div class="row action-box">
        <div class="col-md-4 col-sm-4 offset-1">
          <div class="icon-large">
            <i class="fab fa-bitcoin"></i>
          </div>
          <h3>Payment API</h3>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="icon-large">
            <i class="fab fa-monero"></i>
          </div>
          <h3>Web mining</h3>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="icon-large">
            <i class="fab fa-ethereum"></i>
          </div>
          <h3>Native mining</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-content">
    <div class="container home-content">
      <h1>Coming Soon</h1>
      <br />
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon primary-icon-theme"><i class="fab fa-bitcoin"></i></div>
            <div class="info">
              <h4 class="title">Payment API</h4>
              <p class="desc">We will soon release our cryptocurrency payment API. It will provide a seamless integration of our miner. Sites that use our payment service will pay no mining fees.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon primary-icon-theme"><i class="fas fa-download"></i></div>
            <div class="info">
              <h4 class="title">Native Miner</h4>
              <p class="desc">For users who mine to gain rewards on your site, we provide a native miner with a simple UI to connect to our servers. This can boost your rewards by up to 1000%.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features">
            <div class="icon primary-icon-theme"><i class="fab fa-ethereum"></i></div>
            <div class="info">
              <h4 class="title">GPU Web-Miner</h4>
              <p class="desc">We are soon releasing an online GPU Miner. This will boost your rewards by up to 300% in comparison to a regular CPU Webminer (all current web-miners).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
